<ul style="list-style-type:none;">
  <li>
    <h2>
      <p> Spotify is now free on mobile and tablet. Listen to the right music and podcasts, wherever you are. </p>
    </h2>
  </li>
  <li>
    <p>With Spotify, you have access to a world of music and podcasts. You can listen to artists and albums, or create
      your
      own playlist of your favorite songs. Want to discover new music? Choose a ready-made playlist that suits your mood
      or get personalized recommendations.</p>
  </li>
  <li>
    Spotify also offers thousands of Podcasts, including originals that you can't find anywhere else.
  </li>
</ul>